<header>
  <h1>Job Tracker</h1>
</header>
<main>
    <h2>Jobs by Interest</h2>
    <table>
      <% (1..10).each do |num| %>
      <tr>
        <td> <%= "*" * num %> (<%= Job.count_by_level_of_interest(num) %> jobs)</td>
      </tr>
      <% end %>
    </table>
    <h2>Top Companies by Interest</h2>
    <table>
      <% @top_companies.each do |company| %>
      <tr>
        <%= company.name %>
      </tr>
      <% end %>
    </table>
</main>
