<header>
  <h1>Companies</h1>
</header>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @companies.each do |company| %>
  <tr class=company_<%= company.id %>>
    <td><%= link_to company.name, company_path(company) %></td>
    <td><%= link_to "Edit", edit_company_path(company) %></td>
    <td><%= link_to "Delete", company_path(company), method: "delete" %></td>
  </tr>
  <% end %>
</table>
