All Jobs for <strong><%= @company.name %></strong>

<%= render partial: 'contacts/form' %>
<h1>Existing contacts (<%= @company.contacts.size %>)</h1>
<%= render partial: 'companies/contact', collection: @company.contacts %>
