/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Gothic L', sans-serif;
  background-color: #F1F4F1;
  color: #424B54;
}

nav {
  display:flex;
  justify-content: flex-end;
  line-height: 60px;
  height: 60px;
  background-color: #FDCFBF;
  color: #FFFFFF;
}

header {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 15px;
  line-height: 80px;
  height: 80px;
  background-color: #FDCFBF;
}
a {
  color: #181C1F;
}
a.button {
	display: flex;
  justify-content: center;
	background-color: #3FE2CD;
  text-transform: uppercase;
  text-decoration: none;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 3px solid #ACA499;
  width: 75px;
}

a.button:hover {
  background-color: #818D92;
}

main {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 15px;
  margin-left: 15px;
}

table {
  display: flex;
  justify-content: left;
  margin: 25px;
  border-collapse: separate;
  border-spacing: 15px 15px;
}

th {
  text-align: left;
}

td {
  margin: auto;
}

.icon {
  height: 15px;
  width: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type=submit] {
  display: flex;
  justify-content: center;
	background-color: #3FE2CD;
  text-transform: uppercase;
  text-decoration: none;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 3px solid #ACA499;
  width: 150px;
  cursor: pointer;
}

form a {
  display: flex;
  justify-content: center;
  background-color: #3C454D;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 5px;
  border: 3px solid #ACA499;
  width: 85px;
  cursor: pointer;
}

form input[type=submit]:hover, a:hover {
  background-color: #818D92;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 2;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  border-style: solid;
}
