<nav>
  <div class='links'>
    <!-- <a id='dashboard' href="/dashboard">Dashboard</a>     -->
    <a id='companies' href="/companies">Companies</a>
    <a id='categories' href="/categories">Categories</a>
  </div>
</nav>
